@charset "UTF-8";
h1, h3, p {
	text-align: center;
	color: #000000;
	-webkit-box-shadow: 0px 0px #F20C0F;
	box-shadow: 0px 0px #F20C0F;
	font-style: normal;
}
#main {
	width: 75%;
	min-width: 0px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}
.navbar.navbar-default {
	border-right-width: 0px;
	border-radius: 0px;
	background-color: #857F7F;
	color: #ffffff;
	margin-top: 20px;
	text-shadow: 0px 0px #3E043E;
	/* [disabled]text-decoration: none; */
}
.image-fill {
	width: 100%;
	border-right-width: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
#wrapper {
	padding-left: 0px;
	padding-right: 0px;
}
.intro {
	font-size: large;
	color: #000000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#colomH {
	bottom: auto;
}
.contact {
	text-align: left;
}

#implementation {
    margin-bottom: 2em;
}

#graph {
    padding: 0.5em;
}

input {
    width: 3em;
}
.algorithm {
	font-size: large;
	color: #000000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 600px;
}
.highlight {
		
		color: #c64c6f;
		font-weight: 600;	
}
.item {
	padding-left: 30px;
}

.bigger {
	font-size:150%;	
}

#message{
	border: 0px solid #C3C6BF;
	padding: 20px;
	width: 70%;
	height: 100px;
	margin: auto;
	font-family: 'Roboto Slab';
	font-size: 160%;
}

#chart{
	width: 70%;
	margin:auto;
	margin-bottom: 100px
}
.buttons{
	 margin:auto;
	 text-align:center;
	 padding-bottom: 20px; 
}
.DataInput {
	margin-top: auto;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	padding: 20px;
	width: 70%;
	color: rgba(4,4,4,1.00);
}
#ArrayData{
	min-width: 500px;
}
