body
{
  background-color: #FFB682;
}

h1
{
  color: #F87217; 
  font-family: Georgia; 
  font-size:350%;
  text-align: center;
}

#container
{
  width: 200px;
  height: 50px;
  border:1px solid black;
  position: relative;
  background: #C2DFFF;
}

#animate
{
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  position: absolute;
  background-color: orange;
}
	
.button
{
  background-color:#82CAFF ;
  border: 2px solid grey;
  color: #463E3F;
  padding: 5px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: Georgia
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1
{
  border-radius:12px;
}

p.one {
  padding-top : 100px;
}
